ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

.container {
    padding: 20px;
}

ion-item {
    --inner-padding-end: 0;
    --background: transparent;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
}

.charImage{
    width: 100%;
  object-fit:contain;
}

.charTitle {
    font-weight: 600;
}

.characterImageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 5px 0px rgba(72, 72, 72, 0.3);
    border: 1px solid var(--ion-color-border);
    border-radius: 8px;
    background-color: linear-gradient(to bottom, #1a1240 35%, #6528af 70%, #736eed 100%);
}

ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
}

ion-item h2 {
    font-weight: 600;
}

ion-item .date {
    float: right;
    align-items: center;
    display: flex;
}

ion-item ion-icon {
    font-size: 42px;
    margin-right: 8px;
}

ion-item ion-note {
    font-size: 15px;
    margin-right: 12px;
    font-weight: normal;
}

ion-segment-button {
    --background-checked: var(--ion-color-primary);
    --background-focused: var(--ion-color-primary);
    --indicator-color: transparent;
    --color-checked: white;
}

h1 {
    margin: 30px 0px;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}

p {
    line-height: 22px;
    font-weight: 400;
    font-size: medium;
}

.scroll {
    overflow: auto;
}

.contentHeader{
    margin: 0px 20px;
}

.segmentHeader{
    margin: 10px 0px;
}

.segmentContent{
    margin-top: 30px;
}
